<html>
    <head>
        <title>Dojo Survey</title>
    </head>
    <body>
        <h1></h1>
        <form id="form" action='/surveys/process' method='post'>
        {% csrf_token %}
          Your Name: <input type='text' name='name'>
          Dojo Location: <select name="location">
                            <option value="Seattle">Seattle</option>
                            <option value="Silicon Valley">Silicon Valley</option>
                            <option value="Texas">Texas</option>
                        </select>
          Favorite Language: <select name="language">
                                <option value="python">Python</option>
                                <option value="Java">Java</option>
                                <option value="Mean">Mean</option>
                            </select>
            Comment (Optional): <input type="area" name="comment">
          <input type='submit' value='Submit'>
      </form>
    </body>
</html>


